
/* Add a black background color to the top navigation-taken from w3schools.com*/
.topnav {
    background-color:lightpink;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color:mediumslateblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: aquamarine;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:mediumslateblue;
    color:lightpink;
}
h1 {text-align:center; font-size:40px
}

p {text-align:center; font-size:25px
}



body{background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);} /* taken from w3schools.com*/

form {
    text-align:center
}
